@model IEnumerable<WebApplication2.Models.ChiTietGioHang>

@{
    ViewBag.Title = "Index";
}

<div class="grow">
    <div class="container">
        <h2>Giỏ Hàng</h2>
    </div>
</div>

@if (Model.Count() == 0)
{
    <div>
        <img style="width:400px ;margin-left:35%;" src="https://salt.tikicdn.com/desktop/img/mascot@2x.png">
        <h3 style="text-align: center;padding:16px">Không có sản phẩm nào trong giỏ hàng của bạn</h3>
        <a href="@Url.Action("Index","SanPham")" class="add-cart item_add" style="padding:20px ; margin-left:45%">Tiếp Tục Mua Sắm</a>
    </div>
}
else
{
    <div style="margin-left:auto;margin-right:auto;padding-top:30px ;width:90%">

        <table class="table">
            <tr>
                <th>
                    Hình Ảnh
                </th>
                <th>
                    Tên Sản Phẩm
                </th>
                <th>
                    Giá Tiền
                </th>
                <th>
                    Số Lượng
                </th>
                <th>Thành Tiền</th>
                <th>Thao Tác</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img style="text-align:center; width:100px" src="~/images/@item.SanPham.MaSP@ViewBag.hinh" alt="Alternate Text" />
                    </td>
                    <td>
                        <a href="@Url.Action("chitietsanpham","sanpham", new{item.SanPham.MaSP })">@item.SanPham.TenSP</a>
                    </td>
                    <td>
                        @item.SanPham.GiaSP.ToString("N0") VNĐ
                    </td>
                    <td>
                        <form action="@Url.Action("Edit","chitietgiohangs")" method="post">

                            <input type="hidden" name="maSp" value="@item.SanPham.MaSP" />

                            <input name="soLuong" style="max-width:38px" type="number" value="@item.SoLuong" aria-label="quantity" max="@item.SanPham.SoLuong" min="1" />


                            <input class="add-cart item_add" style=" background-color:#8ce78a;color:white; text-align:center ;padding:5px" type="submit" name="name" value="Cập nhật" />
                            <a id="updateCart" href=""></a>
                        </form>

                    </td>
                    <td>
                        @string.Format("{0:#,##0}", item.SanPham.GiaSP * item.SoLuong) VNĐ
                    </td>
                    <td><a href="@Url.Action("Delete","Chitietgiohangs", new { maSP=item.SanPham.MaSP})">Xóa Sản Phẩm</a></td>

                </tr>
            }
            <tr>
                <td><a href="@Url.Action("Index","SanPham")" class="add-cart item_add" style="padding:20px">Tiếp Tục Mua Sắm</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td><a href="@Url.Action("Index","DonHang")" style=" text-align:center ; padding:20px;min-width:158px"  herf="" class="add-cart item_add">Thanh Toán </a></td>
            </tr>

        </table>
    </div>

}





@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioHang.TaiKhoanKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham.TenSP)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioHang.TaiKhoanKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.TenSP)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaChiTietGioHang }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaChiTietGioHang }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaChiTietGioHang })
                </td>
            </tr>
        }

    </table>*@
