@model WebApplication2.Models.DonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<
<div>
    <hr />
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Xóa đơn hàng</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Tên khách hàng")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.customer_id)
                            </dd>

                            <dt>
                                @Html.DisplayName("Ngày đặt")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.date)
                            </dd>

                            <dt>
                                @Html.DisplayName("Tổng tiền")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.total_money)
                            </dd>

                            <dt>
                                @Html.DisplayName("Trạng thái đơn")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TrangThaiDonHang.name_status)
                            </dd>

                        </dl>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>