@model WebApplication2.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <hr />
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4>Xem chi tiết đơn hàng</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayName("Tên khách hàng")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.customer_id)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Ngày đặt")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.date)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Trạng thái")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TrangThaiDonHang.name_status)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Voucher")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.voucher)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Tổng tiền")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.total_money)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>