
@{

    ViewBag.Title = "layoutNew";

}

<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <title>Badminton Material</title>
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Mattress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="@Url.Content("~/css/memenu.css")" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="@Url.Content("~/js/memenu.js")"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="@Url.Content("~/js/simpleCart.min.js")"></script>


    @*@Styles.Render("~/Content/css")*@




    @*@Scripts.Render("~/bundles/modernizr")*@

    <style>
        * {
            font-family: Helvetica, Arial, sans-serif;
        }
    </style>

</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="facebok"> </i></a></li>
                        <li><a href="#"><i class="twiter"> </i></a></li>
                        <li><a href="#"><i class="inst"> </i></a></li>
                        <li><a href="#"><i class="goog"> </i></a></li>
                        <div class="clearfix"></div>
                    </ul>

                </div>
                @Html.Partial("_LoginPartial")
                <div class="header-left">

                    <div class="search-box">
                        <div id="sb-search" class="sb-search" style="left:500px">
                            <form action="@Url.Action("Search","SanPham")" method="get">
                                <input name="Search" class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>

                    <!-- search-scripts -->
                    <script src="@Url.Content("~/js/classie.js")"></script>
                    <script src="@Url.Content("~/js/uisearch.js")"></script>
                    <script>
                        new UISearch(document.getElementById('sb-search'));
                    </script>
                    <!-- //search-scripts -->

                    <div class="ca-r">
                        @*<div class="cart box_1">
                            <a href="checkout.html">
                                <h3>
                                    <div class="total">
                                        <span class="simpleCart_total"></span>
                                    </div>
                                    <img src="~/images/cart.png" alt="" />
                                </h3>
                            </a>
                            <p>
                                <a href="javascript:;" class="simpleCart_empty">Empty Cart</a>
                            </p>
                        </div>*@
                    </div>
                    <div class="clearfix"> </div>
                </div>


            </div>
        </div>
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <h1><a href="index.html">Badminton Material</a></h1>
                </div>
                <div class=" h_menu4">
                    <ul class="memenu skyblue">
                        <li><a class="color8" href="@Url.Action("Index","TrangChu")">Trang chủ</a></li>
                        <li>
                            <a class="color1" href="@Url.Action("Index","SanPham")">Sản phẩm</a>
                            <div class="mepanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <li><a href="@Url.Action("Index","SanPham")">Vợt cầu lông</a></li>
                                                <li><a href="@Url.Action("Index","SanPham")">Phụ kiện cầu lông</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="grid">
                            <a class="color2" href="@Url.Action("Index","chitietgiohangs")">Giỏ hàng</a>

                        </li>
                        <li><a class="color4" href="login.html">Login</a></li>
                        <li><a class="color6" href="contact.html">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    @RenderBody();
    <div class="footer w3layouts">
        <div class="container">
            <div class="footer-top-at w3">

                <div class="col-md-3 amet-sed w3l">
                    <h4>MORE INFO</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="contact.html">Liên hệ</a></li>
                        <li><a href="#">Giỏ hàng</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-md-3 amet-sed agileits-w3layouts">
                    <h4>CONTACT US</h4>
                    <p>Contrary to popular belief</p>
                    <p>The standard chunk</p>
                    <p>office :  +12 34 995 0792</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class w3-agile">
            <p>© 2015 Mattress . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

