@model WebApplication2.Models.SanPham

@{
    ViewBag.Title = "ChiTietSanPham";
}

<div class="product">
    <div class="container">
        <div class="product-price1">
            <div class="top-sing">
                <div class="col-md-7 single-top">




                    <img src="~/images/@ViewBag.hinh"
                         style="height:500px" />






                    <div class="clearfix"></div>
                    <!-- slide -->
                    <!-- FlexSlider -->
                    <script defer src="js/jquery.flexslider.js"></script>
                    <link rel="stylesheet"
                          href="css/flexslider.css"
                          type="text/css"
                          media="screen" />

                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $(".flexslider").flexslider({
                                animation: "slide",
                                controlNav: "thumbnails",
                            });
                        });
                    </script>
                </div>
                <form action="@Url.Action("Create","Chitietgiohangs")" method="post">
                    <div class="col-md-5 single-top-in simpleCart_shelfItem" style="margin-top:60px">
                        <div class="single-para">
                            <h4>@Model.TenSP</h4>
                            <div class="star-on">
                                <div class="review">

                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <h5 class="item_price">Giá: @Model.GiaSP VNĐ</h5>
                            <p>
                                @Model.MoTa
                            </p>
                            <div>
                                Số Lượng <input type="number" name="soLuong" value="1" aria-label="quantity" max="@Model.SoLuong" min="1" />
                            </div>
                            <input type="hidden" name="maSp" value="@Model.MaSP" />
                            <input type="submit" style="padding: 10px; background-color: black; margin-top: 20px" class="add-cart item_add" value="Thêm Vào Giỏ Hàng" />

                        </div>
                    </div>
                </form>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>