@using WebApplication2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

    <!-- grow -->
    <div class="grow">
        <div class="container">
            <h2>Login</h2>
        </div>
    </div>
    <!-- grow -->
    <!--content-->
    
    
    <div class="container">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 account-top">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
            }
        </section>
    </div>
    <!--//content-->
    <div class="footer w3layouts">
        <div class="container">
            <div class="footer-top-at w3">

                <div class="col-md-3 amet-sed w3l">
                    <h4>MORE INFO</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">How to order</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="contact.html">Location</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Membership</a></li>
                    </ul>
                </div>
                <div class="col-md-3 amet-sed w3ls">
                    <h4>CATEGORIES</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Bed linen</a></li>
                        <li><a href="#">Cushions</a></li>
                        <li><a href="#">Duvets</a></li>
                        <li><a href="#">Pillows</a></li>
                        <li><a href="#">Protectors</a></li>
                    </ul>

                </div>
                <div class="col-md-3 amet-sed agileits">
                    <h4>NEWSLETTER</h4>
                    <div class="stay agileinfo">
                        <div class="stay-left wthree">
                            <form action="#" method="post">
                                <input type="text" placeholder="Enter your email " required="">
                            </form>
                        </div>
                        <div class="btn-1 w3-agileits">
                            <form action="#" method="post">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="col-md-3 amet-sed agileits-w3layouts">
                    <h4>CONTACT US</h4>
                    <p>Contrary to popular belief</p>
                    <p>The standard chunk</p>
                    <p>office :  +12 34 995 0792</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class w3-agile">
            <p>© 2015 Mattress . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
    </div>

