@using WebApplication2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/layoutNew.cshtml";
}

<div class="grow">
    <div class="container">
        <h2>Đăng Nhập</h2>
    </div>
</div>

<div class="container">
    <div class="account">
        <div class="account-pass">
            <div class="col-md-8 account-top">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                            
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.LabelFor(m => m.Email)
                        <div>
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Password)
                        <div>
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div>
                        <div>
                            <input type="submit" value="Đăng Nhập"/>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Quên Mật Khẩu?", "ForgotPassword")
                    </p>
                }
            </div>
        </div>
    </div>                    
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}

