@model WebApplication2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/layoutNew.cshtml";
}

<div class="grow">
    <div class="container">
        <h2>Đăng Ký Tài Khoản</h2>
    </div>
</div>

<div class="container">
    <div class="account">
        <div class="account-pass">
            <div class="col-md-8 account-top">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div>
                        @Html.LabelFor(m => m.Email)
                        <div>
                            @Html.TextBoxFor(m => m.Email)
                        </div>
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Password)
                        <div >
                            @Html.PasswordFor(m => m.Password)
                        </div>
                    </div>
                    <div >
                        @Html.LabelFor(m => m.ConfirmPassword)
                        <div >
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div>
                        <div >
                            <input type="submit" value="Đăng ký" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
           
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
