@model WebApplication2.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/layoutNew.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.customer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiDonHang.name_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThaiDonHang.name_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuyenMai.Maloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai.Maloai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
